body {
	text-align: center;
	margin-top: 50px;
	font-family: "Source Sans Pro", sans-serif;
	background-color: #f1faee;
}

#prevGuesses {
	margin-top: 30px;
	font-size: 20px;
}

.guess {
	margin-top: 10px;
	font-size: 20px;
}

#resetButton {
	margin-top: 20px;
}

.high {
	color: #632b30;
}

.low {
	color: #2274a5;
}

.winner {
	color: #fadf63;
}
